body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    color: white;
    background-color: #6D1830;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 35px;
    justify-content: center;
}

.navb{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;    
    padding: 30px 20px ;
}
.navb>div:nth-child(1)>img{
    width: 60px;
    height: 60px;
}
.navb>div:nth-child(2){
    gap: 20px;
    display: flex;
    justify-content: space-around;

}
.navb>div:nth-child(2)>a{
    text-decoration: none;
}
.navb>div:nth-child(3)>button, .roll1>div>div>button, .roll9>div>div>button,.sec1>div>button, .button3, .button6{
    color: white;
    background-color: #6D1830;
    padding: 20px;
    border: none;
    border-radius: 5px;
}
.roll1{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FFF9F2;
    padding: 40px;
    align-items: center;
}

.roll2,.roll3,.roll4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section{
    background-color: #FFF9F2;
    padding: 20px 40px;
}
.roll5{
    display: flex;
    background-color: #14394C;
    display: flex;
    height: 350px;
    justify-content: space-around;
    border-radius: 10px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 200px;

}
.image1999>img{
    height: 550px;
    transform: translateY(-79px);
}
.allcob{
    padding: 20px 40px;
    width: 60%;
    margin: 0 auto;
}

.combine{
    display: flex;
    justify-content: space-around;
}
.conbo1{
    padding: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    border: none;
    border-top: 3px solid brown;
    border-right: 3px solid brown;
    margin-bottom: 50px;
    background-color: #ffff;
 
}
.conbo1>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.conbo1>div:nth-child(2)>div{
    width: 40%;
    background-color:  #FFF9F2;
    border-radius: 10px;
    padding: 10px;

}

.combine{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.combine>div{
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 15px;
    border-top: 3px solid brown;
    border-right: 3px solid brown;
    border-radius: 20px;
    background-color: #fff;

}
.combine>div:nth-child(1)>img{
    height: 250px;
}
.combine>div:nth-child(2)>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.combine>div:nth-child(2)>div>img{
    width:34%;
    height: 50px;
    margin: 20px 0;
}
.conbo4{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #fff;
    align-items: center;
    padding: 15px;
    border-top: 3px solid brown;
    border-right: 3px solid brown;
    border-radius: 20px;
}
.conbo4>img{
    width: 300px;
    height: 300px;
}
.roll9{
    display: flex;
    background-color: #14394C;
    color: #fff;
    align-items: center;
    gap: 100px;

}
.roll9>img{
    height: 400px;

}
.sec1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

}
.sec1>div{
    width: 40%;
    padding: 10px;
}
.sec1>div>div{
    border: 1px solid  #6d6d6d;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}
.monyswt{
    background-color: #FFF9F2;
    padding: 60px 40px ;
    margin-top: 40px;
    
}
.monyswt>div{
display: flex;
justify-content: space-around;
width: 90%;
margin: 0 auto;
gap: 10px;

}

.monyswt>div>div{
    border: 1px solid #6D1830;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
}
.footer1{
    background-color: #6D1830;
    padding:  50px ;
    color: #fff;
    display: flex;
}
.footer1>div{
    width: 50%;
}
.footer1>div>input{
    padding: 25px;
    width: 70%;
    border-radius: 10px;
}
.log3, .log4{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.log3>div>div, .log4>div{
    display: flex;
    gap: 20px;
}

.log4>div>img{
    height: 30PX;
}

@media (max-width:1000px) and (min-width:795px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .header{
        display: flex;
        align-items: center;
        color: white;
        background-color: #6D1830;
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        justify-content: center;
    }
    
    .navb{
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;    
        padding: 30px 20px ;
    }
    .navb>div:nth-child(1)>img{
        width: 60px;
        height: 60px;
    }
    .navb>div:nth-child(2){
        gap: 10px;
        display: flex;
        justify-content: space-around;
    
    }
    .navb>div:nth-child(2)>a{
        text-decoration: none;
    }
    .navb>div:nth-child(3)>button, .roll1>div>div>button, .roll9>div>div>button,.sec1>div>button, .button3, .button6{
        color: white;
        background-color: #6D1830;
        padding: 20px;
        border: none;
        border-radius: 5px;
    }
    .roll1{
        display:flex;
        background-color: #FFF9F2;
        padding: 40px;
        align-items: center;
    }
    
    .roll2,  .roll3,.roll4{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 40px 0;
    }
    
    #section{
        background-color: #FFF9F2;
        padding: 20px;
    }
    

    .allcob{
        padding: 20px 40px;
        width: 90%;
        margin: 0 auto;
    }
    
    .combine{
        display: flex;
        justify-content: space-around;
    }
    .conbo1{
        padding: 30px;
        display: flex;
        border-radius: 20px;
        border: none;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        margin-bottom: 50px;
        background-color: #ffff;
        width: 90%;
        margin: 50px auto;
      
     
    }
    .conbo1>div:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .conbo1>div:nth-child(2)>div{
        width: 40%;
        background-color:  #FFF9F2;
        border-radius: 10px;
        padding: 10px;
    
    }
    
    .combine{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-direction: column;
    }
    
    .combine>div{
        display: flex;
        width: 60%;
        padding: 15px;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        border-radius: 20px;
        background-color: #fff;
        margin: 0 auto;

    
    }
    .combine>div:nth-child(1)>img{
        height: 200px;
    }
    .combine>div:nth-child(2)>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .combine>div:nth-child(2)>div>img{
        width:34%;
        height: 50px;
        margin: 20px 0;
    }
    .conbo4{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        background-color: #fff;
        align-items: center;
        padding: 15px;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        border-radius: 20px;
    }
    .conbo4>img{
        width: 300px;
        height: 300px;
    }
    .roll9{
        display: flex;
        background-color: #14394C;
        color: #fff;
        align-items: center;
        gap: 10px;
        padding-bottom: 30px;
        width: 100%;
    }
    .roll9>img{
        height: 400px;
    
    }
    .sec1{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        flex-direction: column;
    
    }
    .sec1>div{
        width: 60%;
        padding: 10px;
        margin: 0 auto;

    }
    .sec1>div>div{
        border: 1px solid  #6d6d6d;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 10px;
    }
    .monyswt{
        padding: 60px 10px ;
        
    }
    .monyswt>div{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 5px;
    
    }
    
    .monyswt>div>div{
        border: 1px solid #6D1830;
        padding: 15px;
        border-radius: 10px;
        margin: 10px auto;
        width: 45%;
    }
    .footer1{
        background-color: #6D1830;
        padding:  50px ;
        color: #fff;
        display: flex;
    }
    .footer1>div{
        width: 100%;
    }
    .footer1>div>input{
        padding: 25px;
        width: 90%;
        border-radius: 10px;
    }
    .log3, .log4{
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }
    
    .log3>div>div, .log4>div{
        display: flex;
        gap: 10px;
    }
    
    .log4>div>img{
        height: 30px;
    }
}
@media (max-width:795px) and (min-width:598px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .header{
        display: flex;
        align-items: center;
        color: white;
        background-color: #6D1830;
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        justify-content: center;
    }
    
    .navb{
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;    
        padding: 30px 20px ;
    }
    .navb>div:nth-child(1)>img{
        width: 60px;
        height: 60px;
    }
    .navb>div:nth-child(2){
        gap: 10px;
        display: flex;
        justify-content: space-around;
    
    }
    .navb>div:nth-child(2)>a{
        text-decoration: none;
    }
    .navb>div:nth-child(3)>button, .roll1>div>div>button, .roll9>div>div>button,.sec1>div>button, .button3, .button6{
        color: white;
        background-color: #6D1830;
        padding: 20px;
        border: none;
        border-radius: 5px;
    }
    .roll1{
        display:flex;
        background-color: #FFF9F2;
        padding: 0px;
        align-items: center;
        flex-direction: column;
    }
    
    .roll2,  .roll3,.roll4{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 40px 0;
        flex-direction: column;
    }
    
    #section{
        background-color: #FFF9F2;
        padding: 20px;
    }
    

    .allcob{
        padding: 20px 40px;
        width: 90%;
        margin: 0 auto;
    }
    
    .combine{
        display: flex;
        justify-content: space-around;
    }
    .conbo1{
        padding: 30px;
        display: flex;
        border-radius: 20px;
        border: none;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        margin-bottom: 50px;
        background-color: #ffff;
        width: 95%;
        margin: 50px auto;
      
     
    }
    .conbo1>div:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .conbo1>div:nth-child(2)>div{
        width: 40%;
        background-color:  #FFF9F2;
        border-radius: 10px;
        padding: 10px;
    
    }
    
    .combine{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-direction: column;
    }
    
    .combine>div{
        display: flex;
        width: 60%;
        padding: 15px;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        border-radius: 20px;
        background-color: #fff;
        margin: 0 auto;

    
    }
    .combine>div:nth-child(1)>img{
        height: 200px;
    }
    .combine>div:nth-child(2)>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .combine>div:nth-child(2)>div>img{
        width:34%;
        height: 50px;
        margin: 20px 0;
    }
    .conbo4{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        background-color: #fff;
        align-items: center;
        padding: 15px;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        border-radius: 20px;
    }
    .conbo4>img{
        width: 300px;
        height: 300px;
    }
    .roll9{
        display: flex;
        background-color: #14394C;
        color: #fff;
        align-items: center;
        gap: 10px;
        padding-bottom: 30px;
    }
    .roll9>img{
        height: 300px;
    
    }
    .sec1{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        flex-direction: column;
    
    }
    .sec1>div{
        width: 70%;
        padding: 10px;
        margin: 0 auto;

    }
    .sec1>div>div{
        border: 1px solid  #6d6d6d;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 10px;
    }
    .monyswt{
        padding: 60px 10px ;
        
    }
    .monyswt>div{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 5px;
    
    }
    
    .monyswt>div>div{
        border: 1px solid #6D1830;
        padding: 15px;
        border-radius: 10px;
        margin: 10px auto;
        width: 60%;
    }
    .footer1{
        background-color: #6D1830;
        padding:  50px ;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    .footer1>div{
        width: 100%;
    }
    .footer1>div>input{
        padding: 25px;
        width: 90%;
        border-radius: 10px;
    }
    .log3, .log4{
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }
    
    .log3>div>div, .log4>div{
        display: flex;
        gap: 10px;
    }
    
    .log4>div>img{
        height: 30px;
    }
}
@media (max-width:598px) and (min-width:59px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .header{
        display: flex;
        align-items: center;
        color: white;
        background-color: #6D1830;
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 35px;
        justify-content: center;
    }
    
    .navb{
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        font-weight: 100;    
        padding: 30px 20px ;
    }
    .navb>div:nth-child(1)>img{
        width: 60px;
        height: 60px;
    }
    .navb>div:nth-child(2){
        gap: 10px;
        display: flex;
        justify-content: space-around;
    
    }
    .navb>div:nth-child(2)>a{
        text-decoration: none;
    }
    .navb>div:nth-child(3)>button{
        display: none;
    }
    .navb>div:nth-child(3)>button, .roll1>div>div>button, .roll9>div>div>button,.sec1>div>button, .button3, .button6{
        color: white;
        background-color: #6D1830;
        padding: 20px;
        border: none;
        border-radius: 5px;
    }
    .roll1{
        display:flex;
        background-color: #FFF9F2;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    
    .roll2,  .roll3,.roll4{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 40px 0;
        flex-direction: column;
    }
    .roll2 img,  .roll3 img,.roll4 img{
        width: 90% !important;
        margin:  0 auto;
        height: 400px;
    }
    .roll5{
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding: 40px;
        align-items: center;
    }
    .image1999>img{
        height: 250px;
        transform: translateY(-0px);
    }
    #section{
        background-color: #FFF9F2;
        padding: 10px;
    }
    

    .allcob{
        padding: 20px 05px;
        width: 100%;
        margin: 0 auto;
    }
    
    .combine{
        display: flex;
        justify-content: space-around;
    }
    .conbo1{
        padding: 30px;
        display: flex;
        border-radius: 20px;
        border: none;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        margin-bottom: 50px;
        background-color: #ffff;
        width: 85%;
        margin: 40px auto;
        flex-direction: column;
      
     
    }
    .conbo1>div:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .conbo1>div:nth-child(2)>div{
        width: 40%;
        background-color:  #FFF9F2;
        border-radius: 10px;
        padding: 10px;
    
    }
    
    .combine{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-direction: column;
    }
    
    .combine>div{
        display: flex;
        width: 75%;
        padding: 15px;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        border-radius: 20px;
        background-color: #fff;
        margin: 0 auto;

    
    }
    .combine>div:nth-child(1)>img{
        height: 200px;
    }
    .combine>div:nth-child(2)>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .combine>div:nth-child(2)>div>img{
        width:34%;
        height: 50px;
        margin: 20px 0;
    }
    .conbo4{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        background-color: #fff;
        align-items: center;
        padding: 15px;
        border-top: 3px solid brown;
        border-right: 3px solid brown;
        border-radius: 20px;
        flex-direction: column;
    }
    .conbo4 img{
        width: 95% !important;
        height: 250px;
    }
    .roll9{
        display: flex;
        background-color: #14394C;
        color: #fff;
        align-items: center;
        gap: 10px;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .roll9>img{
        height: 300px;
    
    }
    .sec1{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        flex-direction: column;
    
    }
    .sec1>div{
        width: 80%;
        padding: 10px;
        margin: 0 auto;

    }
    .sec1>div>div{
        border: 1px solid  #6d6d6d;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 10px;
    }
    .monyswt{
        padding: 60px 10px ;
        
    }
    .monyswt>div{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 5px;
    
    }
    
    .monyswt>div>div{
        border: 1px solid #6D1830;
        padding: 15px;
        border-radius: 10px;
        margin: 10px auto;
        width: 80%;
    }
    .footer1{
        background-color: #6D1830;
        padding:  50px ;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    .footer1>div{
        width: 100%;
    }
    .footer1>div>input{
        padding: 25px;
        width: 90%;
        border-radius: 10px;
    }
    .log3, .log4{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    
    .log3>div>div, .log4>div{
        display: flex;
        gap: 20px;
    }
    
    .log4>div>img{
        height: 30px;
    }
}